#blueCell{
	 background-color: rgb(3, 85, 122);
	 color: white;
	 width: 250px;
	 max-width: 250px;
	 min-width: 250px;
	 overflow: auto;
}
#itCell{
	 background-color: rgb(3, 85, 122);
	 color: white;
	 min-width: 120px;
}
.body-cell > svg >g{
	transform: translate(0,0);
}
.body-cell > svg{
	width: auto;
	height: 4em;
	display: block;
	overflow-x: hidden;
}
#bodyRow{
	height: 100%;
	z-index: -2;
}
#tablePopOut{
	display: none;
}
#tableBox
{
	margin: 2px 0px 0px 2px;
    padding: 5px 0px 0px 5px;
    height: 50%;
	overflow-y: hidden;
	background-color: #e6e6e6;
}
.table-header
{
    position: relative;
	border-collapse: collapse;
	width: 100%;
}
#headerTable{
	width: 90%;
	table-layout: fixed;
}
#bodyTable{
	width: 90%;
	table-layout: fixed;
}
.table-body
{
	position: relative;
	border-collapse: collapse;
	overflow-y:auto;
	overflow-x: hidden;
	width: 100%;
}
.header-cell
{
    text-align: center;
    height: 40px;
	border: 1px solid black;
}
.body-cell 
{
    text-align: center;
	border: 1px solid black;
}
.col
{
	word-wrap:break-word;
    min-width: 120px;
}
#blockCell{
	color: white;
}

@media print {
	#tableBox{
		display: hidden;
		height: 100%;
		width: 100%;
		overflow: visible;
	}
	.table-header
	{
		position: relative;
		border-collapse: collapse;
	}
	.table-body
	{
		position: relative;
		border-collapse: collapse;
		overflow: visible;
	}
	.header-cell
	{
		text-align: center;
		height: 40px;
		border: 1px solid black;
	}
	.body-cell 
	{
		width:100%;
		text-align: center;
		border: 1px solid black;
		overflow-x: auto;
	}
	.col
	{
		word-wrap:break-word;
		width:100%;
		min-width: 120px;
	}
}