@font-face { font-family: CamingoCode; src: url('CamingoCode-Regular.ttf'); }		
html {
	height:100%;
}
body {
    height: 99%;
    width: 100%;
    position: absolute;
}
select {
      font: 10pt sans;
    }
.container-fluid{
	height: 100%;
}

#console{
	padding: 4px 4px 4px 4px;
	border-top: 2px solid black;
	background-color: #404040;
	height:100%;
	width:100%;
	overflow-x: hidden;
}
#console>p{
	color: white;
	font-family:CamingoCode, sans-serif;
	position: relative;
}
#answerBox{
	font-family:CamingoCode, sans-serif;
	color: white;
	display: inline-block;
}
#blinker{
	animation-name: blink;
	animation-duration: 1.5s;
	animation-iteration-count:infinite;
}
@keyframes blink{
	0% {color: white;}
	49% {color:white;}
	50%{color:#404040;}
	99%{color:#404040;}
}
#tablePopOut{
	position: absolute;
	top: 5px;
	right: 5px;
	width: auto;
	height:auto;
	display: inline-block;
	padding: 5px 5px 5px 5px;
	z-index: 200;
}
#tablePopOut:hover{
	color: rgb(3, 85, 122);
}
#graphPopOut{
	position: absolute;
	top: 5px;
	right: 5px;
	width: auto;
	height:auto;
	display: inline-block;
	padding: 5px 5px 5px 5px;
	z-index: 200;
}
#graphPopOut:hover{
	color: rgb(3, 85, 122);
}
#consolePopOut{
	color: rgb(242, 242, 242);
	position: relative;
	float:right;
	top: 5px;
	right: 5px;
	width: auto;
	height:auto;
	display: inline-block;
	padding: 5px 5px 5px 5px;
	z-index: 200;
}
#consolePopOut:hover{
	color: rgb(179, 179, 179);
}
#listPopOut{
	position: relative;
	float:right;
	top: 5px;
	right: 5px;
	width: auto;
	height:auto;
	display: inline-block;
	padding: 5px 5px 5px 5px;
	z-index: 200;
}
#listPopOut:hover{
	color: rgb(3, 85, 122);
}
#inputBox:focus{
	border: none;
	outline: 0px solid transparent;
}
#userInput:focus{
	border: none;
	outline: 0px solid transparent;
}
.body-cell > svg >g{
	transform: translate(0,0);
}
.body-cell > svg{
	width: auto;
	height: 4em;
	display: block;
	overflow-x: hidden;
}
#bodyRow{
	height: 100%;
	z-index: -2;
}
#navi{
	z-index: 299;
}
.col-md-6{	
	height:95%;
	width:50%;
	padding: 0px 2px 2px 0px;
	z-index: 0;
}
@media only screen and (max-width: 992px) {
	.col-md-6{
		width:100%;
	}
}
#myNavbar{
	z-index:299;
}
#blocklyDiv{
	border-right: 2px solid black;
	height:100%;
}
.tab-content{
	height:100%;
}
#graphBox{
	height: 50%;
	width: 100%;
	background-color: white;
}
#listBox{
	height: 100%;
	width: 100%;
	background-color: #e6e6e6;
}
#listBin{
	height: 100%;
	width: 100%;
	padding-top: 40px;
	overflow-y: auto;
}
#logo{
	height: 100%;
	width: 100%;

	margin: 0px 15px 0px 0px;
	padding: 10px 0px 5px 0px;
}
#logo:hover{
	background-color: #222 !important;
}
#logoItem:hover{
	background-color: #222 !important;
}
#logoItem{
	height: 4%;
	width: 4%;
	margin: 0px 15px 0px 0px;
}
.glyphicon{
  margin-right: 5px;
}
.navbar-inverse .navbar-nav>li>a{
	color: white;
	padding-left: 3px;
}
.navbar-inverse{
	z-index:299;
}
li:hover { 
    background-color:#808080;
}
#instructions	{
	position: relative;
	top: 3%;
	left: 5%;
}
#instructions >ul{
	width:90%;
}
#instructions > ul >li{
	font-size: 17px;
	width: inherit;
	word-wrap:break-word;
}
#instructions > ul >li:hover{
	background-color: #e6e6e6; !important;
}
#inPic{
	position: absolute;
	top:0%;
	right:20%;
	height: 20%;
	width: auto;
}
@media only screen and (max-width: 1700px) {
	#inPic{
		display: none;
	}
}
#blueCell{
	 background-color: rgb(3, 85, 122);
	 color: white;
	 width: 150px;
	 max-width: 150px;
	 min-width: 150px;
	 overflow: auto;
}
#itCell{
	 background-color: rgb(3, 85, 122);
	 color: white;
}
#myNavbar .active a {
    background-color: rgb(3, 85, 122) !important;
}

#myNavbar .active ul > li >a{
    background-color: #666666 !important;
}
#myNavbar .active ul>li>a:hover {
    background-color:#808080 !important;
	color: white;
}
#myNavbar .active ul>li>ul:hover {
    background-color:#808080 !important;
	color: white;
}
.active>ul>li>a {
    background-color: #666666 !important;
}
.active>ul>li>a:hover {
    background-color:#808080 !important;
	color: white;
}
.dropdown-menu{
		background-color: #666666;
		color: white;
		min-width: 230px;
		border: solid black 1pt;
}
.dropdown-menu>li>a{
	color: white;
}
.list-inline>li{
	color: white;
	padding: 0px 0px 5px 5px;
	margin: 2px 2px 2px 2px;
}
.dropdown-menu>li>a:hover { 
    background-color:#808080;
	color: white;
}
#dropbut{
	padding:15px 15px 15px 0px;
	color: white;
}
#runButton{
	padding:15px 10px 15px 0px;
}
#runSlider{
	height : 90%;
	width: 100%;
	display: inline-block;
	margin: 10px 0px 0px 0px;
}
#tableButton{
	padding-left:15px;
}
#graphButton{
	padding-left:15px;
}
#listButton{
	padding-left:15px;
}
#mynetwork {
	position:relative;
	top: -4%;
	background-color: #e6e6e6;
    width: 100%;
    height: 50%;
    border: 1px solid lightgray;
    
}
#operation {
	font-size:28px;
}
#network-popUp {
    display:none;
    position:absolute;
    top:350px;
    left:170px;
    z-index:299;
    width:250px;
    height:170px;
    background-color: #f9f9f9;
    border-style:solid;
    border-width:3px;
    border-color: #5394ed;
    padding:10px;
    text-align: center;
}

#tableBox
{
	margin: 2px 0px 0px 2px;
    padding: 5px 0px 0px 5px;
    height: 50%;
	overflow-y: hidden;
	background-color: #e6e6e6;
}

.table-header
{
    position: relative;
	border-collapse: collapse;
}
.table-body
{
	position: relative;
	border-collapse: collapse;
	overflow-y:auto;
	overflow-x: hidden;
}

.header-cell
{
    text-align: center;
    height: 40px;
	border: 1px solid black;
}
.body-cell 
{
    text-align: center;
	border: 1px solid black;
}
.col
{
	word-wrap:break-word;
    width:120px;
    min-width: 120px;
	max-width: 120px;
}
#blockCell{
	color: white;
}

@media print {
	#tableBox{
		display: hidden;
		height: 100%;
		overflow: visible;
	}
	.table-header
	{
		table-layout: fixed;
		position: relative;
		border-collapse: collapse;
	}
	.table-body
	{
		table-layout: fixed;
		position: relative;
		border-collapse: collapse;
		overflow: visible;
	}
	.header-cell
	{
		text-align: center;
		height: 40px;
		width:120px;
		min-width: 120px;
		max-width: 120px;
		border: 1px solid black;
	}
	#blueCell{
		width: 150px;
		min-width: 150px;
		max-width: 150px;
	}
	.body-cell 
	{
		width:120px;
		min-width: 120px;
		max-width: 120px;
		text-align: center;
		border: 1px solid black;
		overflow-x: auto;
	}
	.col
	{
		word-wrap:break-word;		
	}
	#tablePopOut{
		display: none;
	}
}

#tableDropDown > li{
	height: 26px;
	
}

#tableDropDown{
	max-height: 500px;
	overflow-y: auto;
}

#varMenu{
	height: 26px;
	padding: 3px 20px 3px 20px;
}

#varCheck{
	float: right;
}

#tableDropDown > #varHead{
	background-color: rgb(3, 85, 122);
	padding: 3px 20px 3px 20px;
	border-top: grey solid 1px;
}


.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.listBin  th, td {
      border: 1px solid black;
      border-collapse: collapse;
  }
 .listBin th, td {
    padding: 15px;
}

.panel-body {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.listBin table {
  margin-left:auto;
  margin-right:auto;
  margin-bottom:4px;
}


.bold_text{
	font-weight: bold;
	font-size: large;
	color: black;
}

.super_text{
	font-weight: bold;
	font-size: 25px !important;
	color: black;
}
.brack_text{
	font-size: 1.8em !important;
	color: black;	
}
.argName{
	display: none;
}
